body, html, #body{
	background-color: #fafafa;
	padding:0px;
	margin:0px;
	font-family: Raleway !important;
	font-size: 14px;
	width:100%;
	height:100%;
}

.priceProfile{
	box-shadow: -10px 0px 20px rgba(0,0,0,0.2);
	margin-bottom:45px;
}

.priceProfile.ns{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	margin-bottom: 45px;
}

.bg-white{
	background-color: inherit !important;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

i.jssocials-share-logo{
	color: #fafafa !important;
}

.priceProfile .header{
	height: 150px;
	text-align: center;
}

th.fc-day-header.fc-widget-header, th.fc-widget-header{
	color:#fff !important;
	background-color: #434343 !important;
	border-color:#535353 !important; 
}

.priceProfile .header .title{
	font-size: 24px;
	padding-top: 45px;
	color:#fff;
}

.flag{
	opacity: 0.7;
	transition: opacity 1s;
}

.flag:hover{
	opacity: 1;
	transition: opacity 1s;
}

.flag .smimg{
	width: 25px !important;
	margin: 3px 5px -5px;
}

.priceProfile .header .price{
	text-align: center;
	width: 100px;
	height: 100px;
	padding: 25px 0px;
	border:2px solid #fff;
	border-radius:50%;
	position:absolute;
	top:100%;
	margin-top: -45px;
	left:50%;
	margin-left: -50px;
	z-index: 5;
	font-size: 28px;
}

.priceProfile{
	background-color:#fafafa;
}

.priceProfile .header .price .currency{
	clear: both;
	font-size:13px;
	text-align: center;
}

.priceProfile .bodz{	
	margin-top: 65px;
}

.listI{
	text-transform: uppercase;
	text-align: center;
	padding:10px 15px;
	font-size: 15px;
	clear: both;
}

.listI.sm{
	font-size: 11px;
}

.listI:nth-of-type(odd){
	background-color: #f1f1f1;
}

.listI.form-group{
	margin-bottom: 0px !important;
}

.mask{
	position: absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right: 0px;
	z-index:10;
	clear:both;
	cursor: pointer;
}

.ppointed{
	cursor: pointer;
}

.noselect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*ALL ABOUT THE PANELS */

.panel.cool{
	border-bottom:none;border-left:none;border-right:none;
	border-top-width: 5px;
	background-color: #fcfcfc;
}

.panel .panel-heading .small-text{
	font-size:14px;
	font-weight: 100;
	margin:-10px -15px 0px -15px;
	padding: 5px;
	background-color: rgba(0,0,0,0.145);
	border-bottom:1px solid rgba(0,0,0,0.05);
}

.panel .panel-heading .small-text i{
	font-size:15px !important;
	padding-right: 1px;
}

.panel .panel-heading .big-text{
	width:100%;
	padding: 10px 0px 0px 1px;
   	display: block;
}

.panel .panel-heading .big-text.darker{
	background-color: rgba(0,0,0,0.4);
	margin:0px -15px;
	padding:10px 15px;
	border:1px solid #f4f4f4;
	border-left: none
}

.panel.cool > .panel-heading{
	border-bottom:none;
	background-color: inherit;
	color:#454545;
	font-size: 13px;
	background-color: #f3f3f3;
}

.panel.cool .panel-footer{
	text-align: center;
}

.panel.cool > .panel-heading{
	border-radius: 1px;
}

.panel.cool .panel-danger{
	border-color: #CA5265;
}

.panel.cool .panel-danger > .panel-heading{
	background-color: #EB6464;
	color:#fff;
	border-color: #CA5265;
}

.panel.cool .panel-success{
	border-color: #54AB0A;
}

.panel.cool .panel-success > .panel-heading{
	background-color: #2FA32F;
	color:#fff;
	border-color: #54AB0A;
}

.panel.cool > .panel-warning{
	border-color: #EBC066;
}

.panel.cool .panel-warning > .panel-heading{
	background-color: #FBC422;
	color:#fff;
	border-color: #F8CB6E;
}

.panel.rd{
	border:1px solid #ddd;
	border-radius:8px;
	box-shadow: 0px 0px 10px #cfcfcf;
}

.panel.rd > .panel-heading{
	color: #fff;
	font-size:24px;
	text-shadow: 0px -1px #777;
}

.panel.rd > .panel-heading i{
	font-size:30px;
	padding:10px;
	padding-left: 5px;
}

.panel.rd.panel-success > .panel-heading{
	background-color: #54AB0A;
}

.panel.rd.panel-warning > .panel-heading{
	background-color: #FD8E00;
}

.panel.rd.panel-danger > .panel-heading{
	background-color: #CA5265;
}

.panel.rd.panel-info > .panel-heading{
	background-color: #33A3F2;
}

.panel.rd.panel-default > .panel-heading{
	background-color: #343434;
}

/*ALL ABOUT THE PANELS */
.fafafa{
	background-color: #fafafa !important;
}

.page-height{
	height: 70% !important;
	padding-bottom: 10%;
}

.no-pad{
	padding:0px !important;
}

.yes-pad{
	padding:15px 30px 30px;
}

a.btn, select.btn{
	min-height:30px;
}

a{
	text-decoration: none !important;
	color: inherit;
}

.list-group-item{
	cursor: pointer;
}

.tender-info{
	padding: 25px 10px;
}

.fafafa{
	background-color: #f8f8f8;
}

.f4f4f4{
	background-color: #f4f4f4;
}

#contact-us-map{
	min-height:525px;
	height:90%;
}

.small-h1{
	padding:0px !important;
	margin:0px !important;
	font-size:22px;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-bar-text{
	padding:24px;
}

.filter-bar-item{
	opacity:0.4;
	padding:15px 15px;
}

.filter-bar-item:hover{
	opacity:0.9;
	cursor: pointer;
}

.bg-0-35{
	background-color: rgba(0,0,0,0.5);
}

.bg-0-35:hover{
	background-color: rgba(0,0,0,0.55);
}

.separator{
	border-top: 1px solid #eee;
}

.fa-6x{
	font-size: 6em;
}

.dropdown-menu{
	border-radius:2px;
}

.dropdown-menu li:hover{
	background-color: rgba(0,0,0,0.3) !important;
}

.center-page{
	margin-top: 120px;
}

.fa-1x{
	font-size: 1.5em;
}

.fa-7x{
	font-size: 7em;
}

p.pad-15{
	padding:5px 15px;
}

.fa-8x{
	font-size: 8em;
}

.thin{
	font-weight: 300 !important;
}

.rel{
	position: relative;
}

.float-bottom{
	position: absolute;
	top: 8px;
	left: 0px;
	right: 0px;
	z-index: 9;
}

.fc-event{
	background-color: #0776D0 !important;
	color:#fff !important;
	padding:5px 7px;
	border: 1px solid #0776D0 !important;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

#statistics-map{
	height: 400px;
	background-color: #f2f2f2;
}

#small-map{
	height:250px;
	padding-top: 5px;
}

a:hover{
	text-decoration: none;
}

.gold{
	color:#D9B907;
}

.white{
	color: #fafafa;
}

.purple{
	color:#D907C0;
}

.green{
	color:#7EC710;
}

.blue{
	color:#106BC7 !important;
}

.margin-top{
	margin-top:95px;
}

.margin-top-small{
	margin-top:40px;
}

.floating-left{
	margin-left: 45%;
}

.floating{
	margin-top: 200px;
}

.subscription{
	padding:10px 15px;
	border-bottom:1px solid #fff;
}

.subscription:hover{
	background-color: #fcfcfc;
	cursor: pointer;
}

.subscription:nth-child(odd) h4, .subscription:nth-child(odd){
	color:#787878;
}

.fa-smm{
	font-size: 12px;
}

.red{
	color: #D60909;
}

.profileIn{
	width: 60px;
	border-radius:30px;
	height: 60px;
	background-color: #006DA8;
	box-shadow: 0px 0px 5px #B0BCC2;
}

.profileInNm{
	padding-top: 12px;
	font-size: 25px;
	color:#f2f2f2;
	text-align: center;
}

.review-rest{
	overflow: hidden;
}

.review-rest h4{
	margin-top: 15px;
	padding-top: 10px 20px;
}

.no-border{
	border:none !important;
}

.no-rd{
	border-radius:0px !important;
}

.gray{
	color:#787878;
}

.hidden-doc-ops{
	margin-top: 15px;
	padding: 15px;
}

.hidden-doc-ops p{
	padding: 5px 15px;
	font-size: 13px;
}

.bd-eaeaea{
	border-top: 2px solid #fff;
}

.grad {
    background: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)); /* Standard syntax */
}

.dark-bg{
	background-color: #323232;
	color:#fff;
}

.dark-gray-bg{
	background-color: #555555;
	color:#fff;
}

.gold-bg{
	background-color:#D9B907;
	color:#fff;
}

.purple-bg{
	background-color:#D907C0;
	color:#fff;
}

.green-bg{
	background-color:#087710;
	color:#fff;
}

.font-14,  .font-14 h4{
	font-size: 14px;
}

.blue-bg{
	background-color:#106BC7;
	color:#fff;
}

.dark-blue-bg{
	background-color: #08212D;
	color:#fff;
}

.gray-bg{
	background-color:#787878;
	color:#fff;	
}

.red-bg{
	background-color: #D60909;
	color:#fff;
}

#header{
	position:fixed;
	height:46px;
	border-bottom: 1px solid #f2f2f2;
	background-color: inherit;
	z-index:10;
	top:0px;left:0px;right:0px;
}

#body, .pad-top{
	padding-top: 46px;
}

.fc-header-title, .fc-header-title h2{
	font-size: 18px;
}

.padding-style{
	padding: 15px;
}

@media (max-width: 420px) {
	.fc-header-title h2{
		display:none;
	}
}

.fc-row, .fc-day{
	background-color: #fafafa;
	height: 80px !important;
}

.side-menu{
	padding:10px;
	font-size:15px;
	color: #787878;
}

.side-menu:hover{
	cursor: pointer;
	color: #232323;
}

.side-menu i{
	width:20px;
}

#logo{
	padding:6px 15px;
	float: left;
}

#logo img{
	height:34px;
}

.gallery{
	text-align: center;
	height: 400px;
}

.gallery img{
	max-height: 400px !important;
	margin: auto;
}

#navigator{
	font-weight: 100;
}

.badge{
	border-radius:3px !important;
}

#navigator .nav{
	background-color: inherit;
	float:left;
	border-left:1px solid #eaeaea;
	padding:12px 15px 12px 10px;
	font-size: 14px;
	font-weight: 300 !important;
	height:46px;
	color:#75858C;
}

#navigator .nav a{
	color:#75858C;
	background-color: inherit;
}

#navigator .nav:first-child{
	border-left:none;
}

.perc-65{
	min-height:65% !important;
}

.perc-bg-index{
	background: url(../images/background-pg-1.jpg) no-repeat;
    background-attachment: fixed;
}

.selectable-cat{
	padding:10px;
	text-overflow: ellipsis;
	border-bottom:1px solid #f1f1f1;
	white-space: nowrap;
	cursor: pointer;
	border-right:1px solid #fafafa;
}

.selectable-cat.selected{
	border-left:8px solid #2d7506;
	background-color: beige;
}

.selectable-cat:hover{
	background-color: #f4f4f4;
}

h1.big{
	font-size: 42px;
	text-align: center;
	font-variant: 600;
}

h1.center{
	margin-top:50px;
}

.btn-nb{
	border-radius:2px !important;
}

.more-options{
	background-color: #f4f4f4;
	padding:12px 5px 12px 5px;
	color:#75858C;
	font-size: 16px;
	float: left;
}

.col-xs-12.np{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

#navigator .nav:hover{
	padding-bottom: 7px;
	border-bottom: 4px solid #aaa;
	cursor: pointer;
	color:#343434;
	background-color: #f2f2f2;
}

#navigator .nav:hover a{
	color:#343434;	
}

#navigator .nav a i{
	font-size: 14px;
	padding:0px 5px 0px 5px;
}

#navigator .nav:hover  a:hover i{
	color: #00C3FF;
}

#filters-holder{
	padding:15px;
	background-color: #f2f2f2;
	min-height: 50px;
}

.title-sub{
	padding:10px 15px;
}

h4{
	font-size: 17px;
	color:#434343;
}

h4 i{
	font-size: 15px;
	color:#434343;
}

.fit-in.large{
	margin-top: 45px;
}

.fit-in{
	padding:15px 15px 3px;
}

.tender-listing{
	padding:10px 15px;
	margin: 5px 0px;
	border:1px solid #e9e9e9;
}

.tender-listing.sm{
	padding: 0px 8px;
	margin: 2px 0px;
}

.company-listing{
	padding-bottom:5px;
	margin-bottom: 2px;
	border:1px solid #e9e9e9;
}

.company-listing .logo{
	padding: 5px;
	max-height: 240px;
}

.tender-listing:nth-child(even){
	background-color: #f2f2f2;
}

.tender-listing:nth-child(odd), .company-listing:nth-child(odd){
	background-color: #fafafa;
}

.company-listing:nth-child(3n+0){
	background-color: #f8f8f8;
}

.company-listing:hover, .tender-listing:hover{
	border:1px solid #68C1FC;
	cursor: pointer;
}

.tender-listing h2, .company-listing h2{
	font-size: 15px;
	color:#1463B3;
}

.tender-listing .size-1, .tender-listing .size-2, .company-listing .size-1, .company-listing .size-2{
	color:#343434;
	font-size: 14px;
	padding:3px 10px;
}

.tender-listing .size-1 a, .tender-listing .size-2 a, .company-listing .size-1 a, .company-listing .size-2 a{
	text-decoration: none;
	color: inherit;
}

.tender-listing .size-1 a:hover, .tender-listing .size-2 a:hover{
	color:#3797DB;
}

.tender-listing .size-2{
	font-size: 13px;
	color:#555;
}

.tender-listing .size-2 i{
	font-size: 12px;
	margin-right: 1px;
	margin-left: 3px;
}

.tender-listing h2.new{
	font-weight: 600;
}

.label.ts{
	font-size: 11px;
	font-weight: 600;
	padding:2px 5px;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1.0;
  }
  40% {
    opacity: 0.25;
  }
  100% {
    opacity: 1.0;
  }
}

#map_canvas div[style*="blue_dot_circle.png"] {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}